:root {
    --bg-primary: #b83e28;
    --bg-primary-lighter: #F05033;
    --bg-gray: #D9D7CF;
    --bg-gray-lighter: #f3f1eb;
    --bg-gray-darker: #7c7c78;
    --color-black: #302708;
    --color-primary: #dd4a30;
}